* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
img {
    padding: 50px;
    border-radius: 50%;
    animation: fananim linear infinite;
}
@keyframes fananim {
    100% {
        transform: rotate(360deg);
    }
}

button{
    border-radius: 500px;
    padding: 20px;

}

.rotate{  
    background-color: rgb(27, 231, 27);
}
.rotate1{
    background-color: red;
}
.rotate2{
    background-color: grey;
}
